<h4>Your Task List</h4>
<!--border="1" cellspacing="0" cellpadding="5" bordercolor="#e6e6e6"-->
<div class="panel panel-default">
  <table class="table table-striped table-hover table-sortable" >
    <tr bgcolor="#ffe6ea">
      <th class="no" width="40">No.</th>
      <th class="content">Content</th>
      <th class="time">Created</th>
      <th class="time">Updated</th>
    </tr>
    <tbody>
    <% i = 0 %>
    <% color_odd = "#e6f7ff" %>
    <% color_even = "#e6f7ff" %>
    <% color = "" %>
    <% @tasks.each do |task| %>
    <% i += 1 %>
    <% if i%2 == 0 %>
    <%   color = color_even %>
    <% elsif %>
    <%   color = color_odd %>
    <% end %>
    <tr bgcolor=<%= color %>,data : { model_name: task.class.name.underscore, update_url: task_sort_path(task)}>
      <th class="no"><%= i %></th>
      <td class="content">
        <span class="task-content">
          <%= task.content %>
        </span>
        <div class="buttons">
          <a href="tasks/<%= task.id.to_s %>">
            <sapn class="glyphicon glyphicon-new-window"></sapn>
          </a>
          <a href="tasks/<%= task.id.to_s %>/edit">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <%= link_to("/tasks/#{task.id}",method: :delete,data:{confirm:'Are you sure to want to delete?'}) do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </div>
      <td class="time">
        <span>
          <%= task.created_at.getlocal("+09:00").strftime("%Y-%m-%d %H:%M:%S") %>
        </span>
      </td>
      <td class="time">
        <span>
          <%= task.updated_at.getlocal("+09:00").strftime("%Y-%m-%d %H:%M:%S") %>
        </span>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div>
  <panel width="40"><a href=<%= new_task_path %>><span class="glyphicon glyphicon-plus"></a></span></panel>
</div>